{% extends 'core.html' %}
{% block body %}        
    <div class="container">
        <div class="row">
            <div class="col-2">
            <h3>ORM</h3>
            <div class="list-group">                            
                <a class="list-group-item" href="{% url 'test:orm-person-all' %}"> список людей и городов где они живут </a>                                  
                <a class="list-group-item" href="{% url 'test:orm-top-city' %}"> Вывести 5 городов с наибольшим населением, упорядочив по убыванию </a>                                  
                <a class="list-group-item" href="{% url 'test:orm-paginator-event' %}"> Реализовать пагинацию с сортировкой по разнице дат</a>                                  
            </div>                
            <h3>RAW</h3>
            <div class="list-group">                            
                <a class="list-group-item" href="{% url 'test:raw-person-all' %}"> список людей и городов где они живут </a>                                              
                <a class="list-group-item" href="{% url 'test:raw-top-city' %}"> Вывести 5 городов с наибольшим населением, упорядочив по убыванию </a>                         
                <a class="list-group-item" href="{% url 'test:raw-paginator-event' %}"> Реализовать пагинацию с сортировкой по разнице дат</a>                                                           
            </div>                    

            </div>
            <div class="col-10">
                {% block home_form %}

                {% endblock home_form %}
            </div>

        </div>          

    </div>              
{% endblock body %}            