{% extends 'home.html' %}
{% load tags %}
{% block home_form %}          

    <div class="container">                      
            {% for o in  object_list %}            
            <div class="row">
                <div class="col-1">
                    {{o.id}}    
                </div>
                <div class="col-5">
                    {{ o.start_date }}
                </div>                
                <div class="col-5">
                    {{ o.end_date }}
                </div>              
                <div class="col-1">
                    {% get_result id=o.id  dict_list=days_dict %}
                </div>                  
            </div>                          
            {% endfor %}      
                   
    </div>  

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> 
{% endblock home_form %}            