{% extends 'home.html' %}
{% load tags %}
{% block home_form %}          
    <div class="container">                      
            {% for o in  object_list %}            
            <div class="row">
                <div class="col-1">
                    {{o.id}}    
                </div>
                <div class="col-10">
                    <a href="{% url 'test:orm-city-persons' o.id %}">{{o.name}}</a>                                                    
                </div>
                <div class="col-1">
                    {{o.count_person}}    
                </div>                  
            </div>                          
            {% endfor %}              
    </div>  
{% endblock home_form %}            