{% extends 'home.html' %}
{% block home_form %}          
    <div class="container">
            <div class="row">
                  <div class="col-12">
                    <h3>
                        {{city.name}}
                    </h3>
                    <h3>
                        итого: {{city.count_person}}
                    </h3>
                </div>
            </div>
          <div class="row">
            {% for o in  object_list %}            
                <div class="col-2">
                    {{o.id}}    
                </div>
                <div class="col-10">
                    {{o.name}}    
                </div>
            {% endfor %}    
          </div>          
    </div>  

    {% comment %} копи-паста из доков   {% endcomment %}
     <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div> 
            
{% endblock home_form %}            